#bookmark {
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bookmark > p {
    color: white;
    font-size: 1.5rem;
}
#bookmark-img {
    width: 16rem;
    display: flex;
    justify-content: space-between;
}
#bookmark-img > a > img {
    height: 4.5rem;
    width: 4.5rem;
}

#visit {
    position: relative;
    top: 2rem;
    box-sizing: border-box;
    width: 100%;
}

#visit > p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#visit-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#visit-img > figure > img {
    height: 9rem;
    width: 16rem;
}

#visit-img > figure {
    height: 11rem;
    width: 16rem;
}

#visit-img > figure > figcaption {
    color: white;
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
}
