{% extends 'invitation/base.html' %} {% block content %}
<h1> 멋쟁이사자처럼 놀아볼까요?</h1>
<h3> 온라인 동방과 함께라면 비대면도 걱정 없어요.</h3>
<div>
    <ul class="agit__living_kitchen">
      <img
      src="./static/img/agit/living_kitchen.png" alt ="아지트 주방" width="430" height="540"
      >
      <li class="agit__kitchen">
        <img
          src="./static/img/agit/kitchen.png" alt ="아지트 주방" width="300" height="260"
        >
        공부할 때는 맛있는 음식을 먹어줘야 제맛이죠.
      </li>
      <li class="agit__living2">
        <img
          src="./static/img/agit/living2.png" alt ="아지트 거실2" width="213" height="267"
        >
      banana에 다가가면 무슨 일이?
      </li>
      <li class="agit__living1">
        <img
          src="./static/img/agit/living1.png" alt ="아지트 거실1" width="300" height="300"
        >
      모닥불 소리와 함께하는 즐거운 코딩 시간
      </li>
      <li class="agit__gamezone">
        <img
            src="./static/img/agit/gamezone.png" alt ="아지트 테트리스" width="209" height="182"
        >
      코딩하다 머리식힐 때는 테트리스가 제격
      </li>
      <li class="agit__random_gamezone">
        <img
            src="./static/img/agit/random_gamezone.png" alt ="아지트 랜덤게임" width="295" height="137"
        >
      오늘은 어떤 게임이 기다리고 있을까요?
      </li>
      <li class="agit__pond">
        <img
            src="./static/img/agit/get_some_rest.png" alt ="아지트 연못" width="215" height="215"
        >
      가끔은 연못소리와 함께 쉬는 시간도 필요하죠!
      </li>
    </ul>
    <ul class="agit__focuszone_garden">
      <img
      src="./static/img/agit/living_kitchen.png" alt ="아지트 거실&주방" width="400" height="540"
      >
      <li class="agit__pond">
        <img
            src="./static/img/agit/maple_garden.png" alt ="메이플 가든" width="300" height="150"
        >
      귀여운 몬스터들과 함께 휴식을 취해요. 포탈로 가까이 가면 무슨 일이?
      </li>
      <li class="agit__focus">
        <img
            src="./static/img/agit/focus.png" alt ="포커스존" width="400" height="100"
        >
      나만의 공간에서 각자 코딩 시간을 가져요. 이곳에는 비밀이 한 가지 숨어있습니다.
      </li>
      <li class="agit__garden2">
        <img
            src="./static/img/agit/garden2.png" alt ="가든2" width="300" height="160"
        >
      보다 더 개방감 있는 공간을 좋아한다면 이곳을 추천드립니다.
      </li>
      <li class="agit__garden">
        <img
            src="./static/img/agit/garden.png" alt ="가든" width="300" height="160"
        >
      넓은 공원에서 산책도 하고 춤도 춰봅시다.
      </li>
    </ul>
    <ul class="agit__meeting_room">
      meeting room
      <img
        src="./static/img/agit/meeting_room.png" alt ="미팅룸" width="400" height="540"
      >
    </ul>
    <ul class="agit__hidden_space">
      hidden space
      <img
        src="./static/img/agit/romantic.png" alt ="히든1" width="400" height="340"
      >
      <img
        src="./static/img/agit/romantic2.png" alt ="히든2" width="400" height="340"
      >
    </ul>

    <button type="button">이게 끝이 아니랍니다!</button>
</div>
{% endblock %}