{% extends 'invitation/base.html' %} {% block content %}
<div>
    <div style="text-align: center; margin-top: 5rem;">
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">게임 한 판 </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">어떠세요? </h1>
    </div>

    <div style="margin-top: 8rem; margin-left: 6rem;">
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">1. 빙고판을 다운로드 받는다. </h1>
        <div>
            <h1 style="display: inline; color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">2. 미션을 수행할 때마다 미션수행 repo에</h1>
            <h1 style="display: inline; color: #FF9E1B; font-size: 1.5rem; line-height: 2.5rem;">수행 내역과 현재 빙고 이미지</h1>
            <h1 style="display: inline; color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">를 올린다! </h1>
        </div>

        <div>
            <h1 style="display: inline; color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">3. Slack의</h1>
            <h1 style="display: inline; color: #FF9E1B; font-size: 1.5rem; line-height: 2.5rem;">#본인이름 issue</h1>
            <h1 style="display: inline; color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">에서 운영진을</h1>
            <h1 style="display: inline; color: #FF9E1B; font-size: 1.5rem; line-height: 2.5rem;">태그</h1>
            <h1 style="display: inline; color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">한다!</h1>
        </div>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">4. 미션을 다 수행한 아기사자에게는 운영진의 선물이!? </h1>
    
    </div>

    <button id="start-btn" style="width: 8rem; height: 4rem; float: left; margin-left: 20rem; font-size: 1.3rem; text-align: center; border-color: #FF9E1B; " onclick="location.href='./bingo2';">네?</button>
    <button id="start-btn" style="width: 8rem; height: 4rem; float: right; margin-right: 20rem; font-size: 1.3rem; text-align: center; border-color: #FF9E1B; " onclick="location.href='./bingo4';">오케이</button>


</div>



{% endblock %}