{% extends 'invitation/base.html' %} {% block content %}
<div>
    <div style="text-align: center; margin-top: 3rem;">
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">설명 </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 3.5rem;">해드릴게요</h1>

        <h1 style="color: #FFFFFF; font-size: 1rem; margin-top: 2.2rem;">예시 미션: 깃허브 프로필 README를 꾸미기</h1>
    </div>

    <table style="margin-left: auto; margin-right: auto;  margin-top: 4rem; font-size: 1.5rem; width: 100%; text-align: center; color: #FFFFFF;">
        <tr>
            <td ><img src="./static/img/bingo/bingo1.png" style="width: 12rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/bingo/bingo2.png" style="width: 20rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/bingo/bingo3.png" style="width: 20rem; border-radius: 1rem;"></td>
        </tr>
        <tr>
            <td style="padding-top: 1.1rem;">기존 도장판</td>
            <td style="padding-top: 1.1rem;">미션수행</td>
            <td style="padding-top: 1.1rem;">운영진 태그</td>
        </tr>
        
    </table>

    <button id="start-btn" style="width: 8rem; height: 4rem; float: right; margin-right: 43%; font-size: 1.3rem; text-align: center; border-color: #FF9E1B; margin-top: -2rem;" onclick="location.href='./bingo3';">오케이</button>


</div>



{% endblock %}