{% extends 'invitation/base.html' %} {% block content %}
<div>
    <div style="text-align: center; margin-top: 3rem;">
        <h1 style="display: inline; color: #FFFFFF; font-size: 3.5rem;">잘 </h1>
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">보관</h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 3.5rem;">하세요!</h1>
    </div>

    <div style="margin-top: 3rem; margin-left: 23.7rem;">
        <img src="./static/img/bingo/bingo6.png" style="width: 24rem;">
    </div>

    <button id="start-btn" style="width: 8rem; height: 4rem; float: right; margin-right: 43%; font-size: 1.3rem; text-align: center; border-color: #FF9E1B; margin-top: -4rem;" onclick="location.href='./bingo5';">미션은?</button>
</div>



{% endblock %}