{% extends 'invitation/base.html' %} {% block content %}
<div>
    <div style="text-align: center; margin-top: 3rem;">
        <h1 style="display: inline; color: #FFFFFF; font-size: 3.5rem;">이런 </h1>
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">미션</h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 3.5rem;">이 있어요.</h1>
    </div>

    <div style="margin-top: 4rem; margin-left: 10rem;">
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 동아리원 세명에게 자기소개하고 인증하기</h1>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 아기사자로 살아남기(가이드북) 읽고 퀴즈</h1>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 깃허브 계정 만들고 본인 계정 리드미 꾸미기 (e.g. 4923.md)</h1>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 30일 일일 커밋 달성하기! or 깃허브 블로그 TIL 30일 지속하기</h1>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 운영진 7인 모두에게 확인 받기 (도장판 사인) </h1>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 이번달의 지식인!: 질문에 답변을 가장 많이 한 사람 선정</h1>
        <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem;">&nbsp;&nbsp;· 이번달의 질문왕!: 가장 질문을 많이 한 사람 선정</h1>

        <div style="margin-top: 2rem;">
            <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem; display: inline;">전체 미션은 </h1>
            <h1 style="color: #FF9E1B; font-size: 1.5rem; line-height: 2.5rem; display: inline;">미션수행 repo의 README</h1>
            <h1 style="color: #FFFFFF; font-size: 1.5rem; line-height: 2.5rem; display: inline;">를 참고하세요!</h1>
        </div>


    </div>

    <button id="start-btn" style="width: 8rem; height: 4rem; float: right; margin-right: 43%; font-size: 1.3rem; text-align: center; border-color: #FF9E1B; margin-top: -4rem;" onclick="window.open('https://github.com/hufslion10th')">바로가기</button>

</div>



{% endblock %}