{% extends 'invitation/base.html' %} {% block content %}
<div>
    <div style="text-align: center; margin-top: 3rem;">
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">설명 </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 3.5rem;">해드릴게요</h1>
    </div>

    <table style="margin-left: auto; margin-right: auto;  margin-top: 4rem; font-size: 1.5rem; width: 100%; text-align: center; color: #FFFFFF;">
        <tr>
            <td ><img src="./static/img/bingo/bingo4.png" style="width: 14rem;"></td>
            <td ><img src="./static/img/bingo/bingo5.png" style="width: 20rem; margin-left: -10rem;"></td>
        </tr>
        
    </table>

    <div style="text-align: center; margin-top: 1rem;">
        <h1 style="display: inline; color: #FFFFFF; font-size: 1.5rem;">확인받은 빙고판을 보관!</h1>
    </div>

    <button id="start-btn" style="width: 8rem; height: 4rem; float: right; margin-right: 43%; font-size: 1.3rem; text-align: center; border-color: #FF9E1B; margin-top: -4rem;" onclick="location.href='./bingo4';">오케이</button>


</div>



{% endblock %}