{% extends 'invitation/base.html' %} {% block content %}
<div id="main-content">
    <div id="bookmark">
        <p>즐겨찾기</p>
        <div id="bookmark-img">
            <a href="https://github.com/" target="_blank">
                <img src="./static/img/github.png" alt="" />
            </a>
            <a href="https://www.codelion.net/" target="_blank">
                <img src="./static/img/codelion.png" alt="" />
            </a>

            <a href="https://www.notion.so/ko-kr/product" target="_blank">
                <img src="./static/img/notion.png" alt="" />
            </a>
        </div>
    </div>

    <div id="visit">
        <p>자주 방문할 웹 사이트</p>
        <div id="visit-img">
            <figure>
                <a href="{% url 'invitation:roadmap' %}">
                    <img src="./static/img/roadmap.png" alt="" />
                </a>
                <figcaption>likelion-10th.plan</figcaption>
            </figure>
            <figure>
                <a href="https://app.gather.town/app/wKWe3Hk7uxhS9QSk/Likelion%2010th%20Study">
                    <img src="./static/img/gather.png" alt="" />
                </a>
                <figcaption>아지트를 소개합니다.hideout</figcaption>
            </figure>
            <figure>
                <a href="{% url 'invitation:doctor' %}">
                    <img src="./static/img/together.png" alt="" />
                </a>
                    <figcaption>개발은 혼자하기 위험하단다!</figcaption>
            </figure>
            <figure>
                <a href="{% url 'invitation:bingo1' %}">
                    <img src="./static/img/bingo.png" alt="" />
                </a>
                <figcaption>아기사자를위한.quest</figcaption>
            </figure>
            <figure>
                <a href="{% url 'invitation:guidestart' %}">
                    <img src="./static/img/coding.png" alt="" />
                </a>
                <figcaption>아기사자로살아남기.guide</figcaption>
            </figure>
            <figure>
                <a href="{% url 'invitation:rollingpaper' %}">
                    <img src="./static/img/introduce.png" alt="" />
                </a>
                <figcaption>rolling-paper.forU</figcaption>
            </figure>
        </div>
    </div>
</div>
{% endblock %}
