{% extends 'invitation/base.html' %} {% block content %}

<div>
    <div style="padding-left: 2rem; padding-top: 1rem;">
        <img src="./static/img/flag.png" align="left" style="width: 6rem; display: inline;" >
        <h1 style="color: #99999960; font-size: 2rem; margin-left: 7rem; margin-top: 1rem;">FRONT-END ROAPMAP</h1>
    </div>

    <div style="text-align: center; margin-top: 2rem;">
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">사용자의 </h1>
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">눈에 보이는 </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">웹의 모든 것</h1>
    </div>

    <table style="margin-left: auto; margin-right: auto;  margin-top: 2rem; font-size: 2rem; width: 100%; text-align: center;">
        <th style="padding: 1rem; color: #FFFFFF;">기초</th>
        <th style="padding: 1rem; color: #FFFFFF;">발전</th>
        <th style="padding: 1rem; color: #FFFFFF;">응용</th>
        <tr>
            <td ><img src="./static/img/roadmap_FE/github_w.png" style="width: 5.5rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_FE/js_and_ts.png" style="width: 12rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_FE/react_and_vuejs.png" style="width: 12rem;"></td>
        </tr>
        <tr>
            <td ><img src="./static/img/roadmap_FE/html_and_css.png" style="width: 12rem;"></td>
            <td ><img src="./static/img/roadmap_FE/bootstrap.png" style="width: 12rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_FE/jest.png" style="width: 12rem;"></td>
        </tr>
        
    </table>

    <div style="text-align: center;">
        <h1 style="color: #FFFFFF; font-size: 1.1rem; margin-top: 2rem; display: inline;">사용하기 쉬운 웹사이트를 만들어서 사용자의 참여를 이끌어내는 프론트엔드 </h1>
        <a href ="javascript:window.history.back()" style="display: inline; color: #FF9E1B; font-size: 1.1rem; line-height: 4rem;">돌아가기</a>
    </div>


</div>

{% endblock %}