{% extends 'invitation/base.html' %} {% block content %}

<div>
    <div style="padding-left: 2rem; padding-top: 1rem;">
        <img src="./static/img/flag.png" align="left" style="width: 6rem; display: inline;" >
        <h1 style="color: #99999960; font-size: 2rem; margin-left: 7rem; margin-top: 1rem;">PM & DESIGNER ROADPMAP</h1>
    </div>

    <div style="text-align: center; margin-top: 2rem;">
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">아이디어 실현</h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">의 꽃</h1>
    </div>

    <table style="margin-left: auto; margin-right: auto;  margin-top: 2rem; font-size: 2rem; width: 100%; text-align: center;">
        <th style="padding: 1rem; color: #FFFFFF;">기초</th>
        <th style="padding: 1rem; color: #FFFFFF;">발전</th>
        <th style="padding: 1rem; color: #FFFFFF;">응용</th>
        <tr>
            <td ><img src="./static/img/roadmap_PMD/ideation.png" style="width: 6rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_PMD/figma.png" style="width: 12rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_PMD/apipxa.png" style="width: 12rem; border-radius: 1rem;"></td>
        </tr>
        <tr>
            <td style="vertical-align: top; padding-top: 2rem;"><img src="./static/img/roadmap_PMD/github_and_html_and_css.png" style="width: 15rem;"></td>
            <td ><img src="./static/img/roadmap_PMD/uiux_and_wireframe.png" style="width: 15rem;"></td>
            <td style="vertical-align: top; padding-top: 2rem;"><img src="./static/img/roadmap_PMD/atoz.png" style="width: 15rem;"></td>
        </tr>
        
    </table>

    <div style="text-align: center;">
        <h1 style="color: #FFFFFF; font-size: 1.1rem; display: inline;">아이디어를 실제로 구현해내기 위한 모든 과정을 그려내고 아름다움을 더하는 기확자와 디자이너</h1>
        <a href ="./roadmap" style="display: inline; color: #FF9E1B; font-size: 1.1rem;">돌아가기</a>
    </div>


</div>

{% endblock %}