{% extends 'invitation/base.html' %} {% block content %}

<div>
    <div style="padding-left: 2rem; padding-top: 1rem;">
        <img src="./static/img/flag.png" align="left" style="width: 6rem; display: inline;" >
        <h1 style="color: #99999960; font-size: 2rem; margin-left: 7rem; margin-top: 1rem;">BACK-END ROAPMAP</h1>
    </div>

    <div style="text-align: center; margin-top: 2rem;">
        <h1 style="display: inline; color: #FF9E1B; font-size: 3.5rem;">데이터를 </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">저장하고, </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">관리하는 모든 과정</h1>
    </div>

    <table style="margin-left: auto; margin-right: auto;  margin-top: 2rem; font-size: 2rem; width: 100%; text-align: center;">
        <th style="padding: 1rem; color: #FFFFFF;">기초</th>
        <th style="padding: 1rem; color: #FFFFFF;">발전</th>
        <th style="padding: 1rem; color: #FFFFFF;">응용</th>
        <tr>
            <td ><img src="./static/img/roadmap_BE/github_and_html_and_css.png" style="width: 12rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_BE/linux.png" style="width: 12rem; border-radius: 1rem;"></td>
            <td ><img src="./static/img/roadmap_BE/django.png" style="width: 12rem; border-radius: 1rem;"></td>
        </tr>
        <tr>
            <td ><img src="./static/img/roadmap_BE/java_and_python.png" style="width: 17rem;"></td>
            <td ><img src="./static/img/roadmap_BE/docker.png" style="width: 17rem;"></td>
            <td ><img src="./static/img/roadmap_BE/springboot_and_spring.png" style="width: 17rem;"></td>
        </tr>
        
    </table>

    <div style="text-align: center;">
        <h1 style="color: #FFFFFF; font-size: 1.1rem; margin-top: 2rem;">사용자를 위한 기능들이 매끄럽게 작동될 수 있도록 데이터를 저장하고 관리하는 백엔드</h1>
    </div>


</div>

{% endblock %}