{% extends 'invitation/base.html' %} {% block content %}

<div>

    <div style="text-align: center; margin-top: 2rem;">
        <h1 style="display: inline; color: #FF9E1B; font-size: 2rem;">멋쟁이사자처럼 </h1>
        <h1 style="display: inline; color: #FFFFFF; font-size: 2rem;">올해는 어떤가요?</h1>
    </div>
        
    <div>
        <img src="./static/img/roadmap_today/icon_curriculum.png" style="position: absolute; width: 10rem; margin-top: 5%; margin-left: 5%;">
    </div>

    <div>
        <img src="./static/img/roadmap_today/curriculum.png" style="position: absolute; width: 40rem;  margin-top: 20%; margin-left: 5%;">
    </div>

    <div>
        <img src="./static/img/roadmap_today/bubble.png" style="position: absolute; width: 20rem; margin-top: 4%; margin-left: 33%;">
    </div>

    <div>
        <img src="./static/img/roadmap_today/clion.png" style="position: absolute; width: 20rem; margin-top: 15%; margin-left: 50%;">
    </div>



</div>

{% endblock %}