{% extends 'invitation/base.html' %} {% block content %}

<div>
    <div style="text-align: center;margin-top: 7rem;">
        {% for rollingpaper in rollingpaper_list %}
        <span id="contentName" style="color: #FFFFFF; font-size: 3rem;">안녕하세요!</span>
        <div class="jb-wrap">
            <div class="jb-image">
                <img src="./static/img/rollingpaper/Rec.png" style="height: 9rem; margin-top: 2rem; position: relative;">
            </div>

            <div class="jb-text">
                <p id="content" style="color: #FFFFFF; text-align: center; line-height: 110%;">
                        운영진이 여러분을 위해 롤링페이퍼를 작성했어요.
                        <br>
                        운영진 Gather Town 캐릭터에 마우스를 올려보세요!
                </p>
            </div>
        </div>



    </div>

    <table style="margin-left: auto; margin-right: auto;  margin-top: 5rem; font-size: 2rem; width: 80%; text-align: center;">
        <tr>
            <td ><img id="img1" src="./static/img/rollingpaper/dohwi.png" style="height: 7rem;"></td>
            <td ><img id="img2" src="./static/img/rollingpaper/sunah.png" style="height: 8rem;"></td>
            <td ><img id="img3" src="./static/img/rollingpaper/geungjun.png" style="height: 7rem;"></td>
            <td ><img id="img4" src="./static/img/rollingpaper/hwigwan.png" style="height: 8rem;"></td>
            <td ><img id="img5" src="./static/img/rollingpaper/woojin.png" style="height: 7rem;"></td>
            <td ><img id="img6" src="./static/img/rollingpaper/jiwon.png" style="height: 8rem;"></td>
            <td ><img id="img7" src="./static/img/rollingpaper/yeun.png" style="height: 6.7rem;"></td>
        </tr>   
    </table>
</div>

<script type="text/javascript">
    const content = document.querySelector('#content');
    const contentName = document.querySelector('#contentName');
    const img1 = document.querySelector('#img1');
    const img2 = document.querySelector('#img2');
    const img3 = document.querySelector('#img3');
    const img4 = document.querySelector('#img4');
    const img5 = document.querySelector('#img5');
    const img6 = document.querySelector('#img6');
    const img7 = document.querySelector('#img7');

    function img1_f(){
        console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_k }}";
        contentName.textContent = "고도희";
    }

    function img2_f(){
        console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_m }}";
        contentName.textContent = "민선아";
    }

    function img3_f(){
        //console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_p }}";
        contentName.textContent = "박경준";
    }

    function img4_f(){
        //console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_s }}";
        contentName.textContent = "설희관";
    }

    function img5_f(){
        //console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_c }}";
        contentName.textContent = "정우진";
    }

    function img6_f(){
        //console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_j }}";
        contentName.textContent = "정지원";
    }

    function img7_f(){
        //console.log(event.target);  
        content.textContent = "{{ rollingpaper.content_h }}";
        contentName.textContent = "홍예은";
    }

    function img_o(){
        //console.log(event.target);  
        content.innerHTML = "운영진이 여러분을 위해 롤링페이퍼를 작성했어요. <br> 운영진 Gather Town 캐릭터에 마우스를 올려보세요!";
        contentName.textContent = "안녕하세요!";
    }

    img1.addEventListener('mouseover', img1_f);
    img1.addEventListener('mouseout', img_o);
    img2.addEventListener('mouseover', img2_f);
    img2.addEventListener('mouseout', img_o);
    img3.addEventListener('mouseover', img3_f);
    img3.addEventListener('mouseout', img_o);
    img4.addEventListener('mouseover', img4_f);
    img4.addEventListener('mouseout', img_o);
    img5.addEventListener('mouseover', img5_f);
    img5.addEventListener('mouseout', img_o);
    img6.addEventListener('mouseover', img6_f);
    img6.addEventListener('mouseout', img_o);
    img7.addEventListener('mouseover', img7_f);
    img7.addEventListener('mouseout', img_o);


</script>

{% endfor %}
{% endblock %}