#main-window-guide {
  height: 100%;
  width: 70rem;
  background-color: rgba(44, 44, 44, 0.7);
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #main-window-guide {
    height: 35rem;
    width: 70rem;
    background-color: rgba(44, 44, 44, 0.7);
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
}

#opacity-block-sereng {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

#guide-title {
  box-sizing: border-box;
  width: 50%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

#guide-title > p {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

#guide-choice {
  box-sizing: border-box;
  width: 50%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#guide-choice > a > button {
  outline: none;
  background-color: transparent;
  border: #f5bf4f solid 1px;
  color: white;
  font-size: 1.5rem;
  height: 4rem;
  width: 16rem;
  border-radius: 4rem;
  cursor: pointer;
}

#guide-choice > a:hover,
#guide-choice > a:hover {
  border: #f5bf4f;
  opacity: 0.9;
}
#guide-choice > a:active {
  border: none;
}
#guide-choice > a:hover {
  border: none;
}
#guide-choice > a:active {
  opacity: 0.8;
}

/* 횡스크롤 삽질  */
#item {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #item {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  #welcome-item {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}
#welcome-item {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#guide-phrase {
  padding-top: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#guide-phrase > p > span {
  color: #f5bf4f;
}
#guide-phrase > p {
  line-height: 2.5rem;
}

#arrow {
  box-sizing: border-box;
  width: 60%;
  height: 20%;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 3rem;
}
#arrow > a {
  color: white;
}
#arrow > a > i {
  cursor: pointer;
}
#arrow > a:active {
  opacity: 0.8;
}

/* 3페이지 */
#welcome-explain {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-explain {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

#welcome-title {
  box-sizing: border-box;
  width: 50%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-title {
    box-sizing: border-box;
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
  }
}
#welcome-title > p {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.colored {
  color: #f5bf4f;
}
#guide-phrase > ol {
  width: 100%;
}
.rules {
  font-weight: bold;
  font-size: 1.8rem;
}
.rules > ul {
  padding-top: 0.5rem;
}

.rules > ul > li {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}
.rules > p {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

.guide-btn {
  border: #f5bf4f 1px solid;
  width: 14rem;
  height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.guide-btn:hover {
  opacity: 0.9;
}

.guide-btn:active {
  opacity: 0.8;
}

/* 깃헙 소개 */
#welcome-github {
  height: 35rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-github {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

#github-title {
  font-size: 1.5rem !important;
  border: #f5bf4f 1px solid;
  width: 18rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#github-description {
  color: white;
  font-size: 1.25rem !important;
}

#github-introduce {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  height: 100%;
  margin-top: 3rem;
}

#github-explain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}
#github-introduce > img {
  height: 5rem;
  width: 5rem;
}
#github-explain > p {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

/* 슬랙페이지 */
#welcome-slack {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-slack {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 슬랙 네?? */
#welcome-how-to-slack {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-how-to-slack {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 슬랙 네! */

#guide-phrase > div > p {
  margin-bottom: 1rem;
}

/* slack 사용하는법 */
#welcome-use-slack {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-use-slack {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

#slack-choice {
  box-sizing: border-box;
  padding-top: 3rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#slack-choice > a {
  color: white;
  height: 3rem;
  width: 19rem;
  font-weight: 500;
}

#arrow > span {
  font-size: 1.5rem;
}

.anchor-colored {
  padding: 0 !important;
  font-size: 1.5rem !important;
  color: #f5bf4f !important;
  text-decoration: none;
}
.anchor-colored:hover {
  opacity: 0.9;
}
.anchor-colored:active {
  opacity: 0.8;
}

/* 왜 슬랙인가요 */
#slack-why {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #slack-why {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

.slack-reason {
  font-size: 1.5rem;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}

/* 왜 슬랙 2 */
#slack-why-two {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #slack-why-two {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 슬랙 어떻게 */
#slack-how {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #slack-how {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

/* 슬랙 뭐 */
#slack-what {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #slack-what {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

#slack-what-explain {
  box-sizing: border-box;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.list {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  cursor: pointer;
}
.list-number {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.list > i {
  font-size: 0.5rem;
}
.list-name {
  margin-top: 2rem;
  font-weight: 400;
  font-size: 2rem;
}

.list:hover {
  opacity: 0.8;
}

.list:active {
  opacity: 0.6;
}

.list-anchor {
  text-decoration: none;
  height: auto;
}

/* 슬랙 뭔가요 1 */
#slack-list-one,
#slack-list-two,
#slack-list-three,
#slack-list-four,
#slack-list-one,
#slack-list-one-second,
#slack-list-one-third,
#welcome-where,
#welcome-where-one,
#welcome-who,
#welcome-who-one,
#welcome-help,
#welcome-help-one,
#welcome-talk,
#welcome-talk-one,
#welcome-end,
#welcome-use-notion {
  height: 42rem;
  width: 70rem;
  background-image: url(../img/lion.png);
  background-size: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #slack-list-one,
  #slack-list-two,
  #slack-list-three,
  #slack-list-four,
  #slack-list-one,
  #slack-list-one-second,
  #slack-list-one-third,
  #welcome-where,
  #welcome-where-one,
  #welcome-who,
  #welcome-who-one,
  #welcome-help,
  #welcome-help-one,
  #welcome-talk,
  #welcome-talk-one,
  #welcome-end,
  #welcome-use-notion {
    height: 35rem;
    width: 70rem;
    background-image: url(../img/lion.png);
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

#list-explain {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  position: relative;
  top: -2rem;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #list-explain {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    position: relative;
    top: -1rem;
  }
}
#list-explain > p {
  margin-bottom: 1rem;
}
.explain-number {
  position: relative;
  left: -2rem;
  top: -2rem;
}

.slack-list-arrow {
  position: relative;
  top: -2rem;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  .slack-list-arrow {
    position: relative;
    top: -4rem;
  }
}

.bold {
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  top: -2rem;
  margin-bottom: 0 !important;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  .bold {
    font-size: 1.5rem;
    font-weight: bold;
    position: relative;
    top: -1rem;
    margin-bottom: 0 !important;
  }
}

.list-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 400;
}
.list-text > p {
  margin-bottom: 0.5rem;
}

#welcome-where-image,
#welcome-who-image {
  box-sizing: border-box;
  height: 5rem;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#welcome-where-image > img {
  height: 8rem;
  width: 8rem;
  border-radius: 10px;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-where-image > img {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
  }
}

#welcome-who-image > a > figure > img {
  height: 16rem;
  width: 36rem;
}
#welcome-who-image > a > figure {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}
#welcome-who-image > a > figure:hover {
  color: #f5bf4f;
}
#welcome-who-image > a > figure:active {
  opacity: 0.9;
}
#welcome-who-image > a {
  text-decoration: none;
}

@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-who-image > img {
    width: 40rem;
    height: 16rem;
    margin-top: 4rem;
  }
}

#mailbox:hover {
  opacity: 0.8;
}
#mailbox:active {
  opacity: 0.7;
}
#mailbox > a {
  text-decoration: none;
}
#mailbox > a > img {
  width: 28rem;
  height: 12rem;
}

#notion-begin {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
#notion-begin > img {
  height: 10rem;
  width: 10rem;
}

#notion-begin > figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#notion-begin > figure > a > img {
  height: 24rem;
  width: 32rem;
}
#notion-begin > figure > figcaption {
  font-size: 1rem;
  cursor: pointer;
}

#notion-begin > figure:hover figcaption {
  color: #f5bf4f;
}

#video {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
}
#video > a {
  color: white;
  font-size: 3rem;
  text-decoration: none;
}

#welcome-who-two,
#welcome-who-three,
#welcome-who-four,
#welcome-who-five,
#welcome-who-six,
#welcome-who-seven,
#welcome-who-eight,
#welcome-who-nine {
  height: 42rem;
  width: 70rem;
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-height: 730px) and (max-height: 830px) {
  #welcome-who-two,
  #welcome-who-three,
  #welcome-who-four,
  #welcome-who-five,
  #welcome-who-six,
  #welcome-who-seven,
  #welcome-who-eight,
  #welcome-who-nine {
    height: 35rem;
    width: 70rem;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}

#video-player {
  width: 100%;
  height: 80%;
}

.subscription {
  width: 100%;
  text-align: center;
  position: relative;
  color: white;
  font-size: 1.5rem;
  top: -8rem;
  margin-bottom: 0.5rem;
}
