.jb-wrap {
	position: relative;
}
.jb-wrap img {
	vertical-align: middle;
}
.jb-text {
    width: 50rem;
    height: 6.5rem;
    display: flex;
	align-items: center;
    text-align: center;
    justify-content: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate( -50%, -50% );
}