#opacity-block {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.75);
}

.ui-header {
    position: absolute;
    top: 0;
    height: 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.ui-header__util-left {
    width: 35rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.fa-apple {
    color: white;
    font-size: 1.25rem;
}
.ui-header__util-left > span {
    color: white;
}

/* 우측상단 유틸 버튼 */

.ui-header__util-right {
    width: 18rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
.ui-header__icons {
    width: 6rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ui-header__icons > i {
    color: white;
}

.date {
    color: white;
}

.dayNumber {
    padding-right: 1rem;
}

/* window ui 레이아웃 */
#main {
    position: absolute;
    top: 12vh;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#main-window {
    height: 42rem;
    width: 70rem;
    background-color: rgba(44, 44, 44, 0.7);
}

#window-header {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 1.5rem;
    background-color: rgba(25, 25, 25, 1);
    text-align: center;
}

#window-header > p {
    color: rgba(150, 150, 150, 1);
    font-size: 0.9rem;
    box-sizing: border-box;
    width: 80%;
    text-align: center;
}

#traffic-light {
    height: 1.5rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

.circle {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 0.8rem;
}

.circle:first-child {
    background-color: #ed6a5f;
}

.circle:nth-child(2) {
    background-color: #f5bf4f;
}

.circle:nth-child(3) {
    background-color: #61c554;
}

/* window-content */
#window-content {
    height: 26rem;
    width: 58rem;
    padding: 6rem;
    padding-top: 3rem;
}
#bookmark {
    box-sizing: border-box;
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#bookmark > p {
    color: white;
    font-size: 1.5rem;
}
#bookmark-img {
    width: 16rem;
    display: flex;
    justify-content: space-between;
}
#bookmark-img > a > img {
    height: 4.5rem;
    width: 4.5rem;
}

#visit {
    position: relative;
    top: 2rem;
    box-sizing: border-box;
    width: 100%;
}

#visit > p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
#visit-img {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#visit-img > figure > img {
    height: 9rem;
    width: 16rem;
}

#visit-img > figure {
    height: 11rem;
    width: 16rem;
}

#visit-img > figure > figcaption {
    color: white;
    font-size: 0.8rem;
    position: relative;
    left: 0.5rem;
}
/* footer */
#footer {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
}
#dock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 5rem;
}
#dock > img {
    height: 5rem;
    width: 5rem;
}
#dock > a > img {
    height: 5rem;
    width: 5rem;
}

.vertical-divider {
    width: 4px;
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.3);
}
