#opacity-block {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
}

.ui-header {
  position: absolute;
  top: 0;
  height: 1.5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.ui-header__util-left {
  width: 35rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.fa-apple {
  color: white;
  font-size: 1.25rem;
}
.ui-header__util-left > span {
  color: white;
}

/* 우측상단 유틸 버튼 */

.ui-header__util-right {
  width: 18rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
}
.ui-header__icons {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ui-header__icons > i {
  color: white;
}

.date {
  color: white;
}

.dayNumber {
  padding-right: 1rem;
}

/* window ui 레이아웃 */
#main {
  position: absolute;
  top: 12vh;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media screen and (max-height: 830px) {
  #main {
    position: absolute;
    top: 12vh;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
}

#main-window {
  height: 42rem;
  width: 70rem;
  background-color: rgba(44, 44, 44, 0.7);
}
@media screen and (max-height: 830px) {
  #main-window {
    height: 35rem;
    width: 70rem;
    background-color: rgba(44, 44, 44, 0.7);
  }
}

#window-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  background-color: rgba(25, 25, 25, 1);
  text-align: center;
}

#window-header > p {
  color: rgba(150, 150, 150, 1);
  font-size: 0.9rem;
  box-sizing: border-box;
  width: 80%;
  text-align: center;
}

#traffic-light {
  height: 1.5rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}

.circle {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}
.circle > i {
  visibility: hidden;
}
#traffic-light:hover .circle > i {
  visibility: visible;
}
.circle:hover {
  cursor: default;
}
.circle:active {
  opacity: 0.8;
}

.circle:first-child {
  background-color: #ed6a5f;
}

.circle:nth-child(2) {
  background-color: #f5bf4f;
}

.circle:nth-child(3) {
  background-color: #61c554;
}
/* window-content */
#main-content {
  height: auto;
  width: 58rem;
  padding: 6rem;
  padding-top: 3rem;
}
/* footer */
@media screen and (max-height: 830px) {
  #footer {
    width: 100vw;
    height: 2rem;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0rem;
  }
}
#footer {
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0rem;
}

@media screen and (max-height: 830px) {
  #dock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    height: 3rem;
  }
  #dock > img {
    height: 3rem;
    width: 3rem;
  }
  #dock > a > img {
    height: 3rem;
    width: 3rem;
  }
}
#dock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  height: 4rem;
}
#dock > img {
  height: 4rem;
  width: 4rem;
}
#dock > a > img {
  height: 4rem;
  width: 4rem;
}

@media screen and (max-height: 830px) {
  .vertical-divider {
    width: 4px;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.vertical-divider {
  width: 2px;
  height: 3.5rem;
  background-color: rgba(255, 255, 255, 0.3);
}
